* {
    padding: 0;
    margin: 0;;
    box-sizing: border-box;
}

.wrapper {
    width: 1124px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 10%;
}

.game__map {
    background: #333;
    height: 300px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.timer {
    font-size: 54px;
    color: aliceblue;
    font-family: "Roboto";
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#start,
#stop{
    margin-right: 50px;
}


.btn {
    width: 150px;
    height: 50px;
    background: firebrick;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    box-shadow: 0 5px 10px #fff;
} 


.documentation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 2%;
    border-radius: 24px;
    background: #333;
    color: #fff;
    letter-spacing: 1px;
}
